<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bienvenueblainville.preference.UserPreferenceMapper">
    <select id="findByUserId" resultType="com.bienvenueblainville.preference.UserPreference">
        select user_id, sector, language_code, reminder_enabled, reminder_time
        from user_preference
        where user_id = #{userId}
    </select>

    <insert id="insertDefault">
        insert into user_preference (user_id, sector, language_code, reminder_enabled, reminder_time)
        values (#{userId}, 'north', 'fr', true, '20:00:00')
    </insert>

    <update id="update">
        update user_preference
        set sector = #{sector},
            language_code = #{languageCode},
            reminder_enabled = #{reminderEnabled},
            reminder_time = #{reminderTime}
        where user_id = #{userId}
    </update>
</mapper>
