<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bienvenueblainville.sorting.SortingItemKeywordMapper">
    <select id="findByItemId" resultType="com.bienvenueblainville.sorting.SortingItemKeyword">
        select id, item_id, language_code, keyword
        from sorting_item_keyword
        where item_id = #{itemId}
    </select>

    <insert id="insertBatch">
        insert into sorting_item_keyword (item_id, language_code, keyword)
        values
        <foreach collection="keywords" item="keyword" separator=",">
            (#{itemId}, #{languageCode}, #{keyword})
        </foreach>
    </insert>

    <delete id="deleteByItemId">
        delete from sorting_item_keyword where item_id = #{itemId}
    </delete>
</mapper>
